body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color :#00ffff;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.pricing-plan{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
button {
    background-color: #3498db;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #207dbb;
  }
